html {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 100%;
  scroll-behavior: smooth;

  &.is-loading {
    overflow: hidden;
  }
}

html,
body {
  height: 100%;
}

body {
  // &.fonts-loaded {
  //   font-family: $fontContent;
  // }
  min-height: 100vh;
}

:focus {
  outline: none;
}
